@media only screen and (min-width: 45em) {

    /********NAVIGATION******/
    .navigation {
        flex-direction: row;
    }

    .navigation li:first-child {
        display: none;
    }

    nav {
        max-width: 100%;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
        margin-right: 1rem;
    }
/********Top Temple Images******/
    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-right: 20px;
        margin-left: 20px;
    }
    .gallery img:hover {
        box-shadow: 0 0 50px #9DA3AD;
    }
     /********Brigham Information******/
      
    .brig {
        margin: 10px auto;
        position: relative;
        text-align: center;
    }

    .brig img {
        margin: 10px auto;
        border: 1px solid #3A5672;
       
    }

    .brig h3 {
        margin: 0px;
        margin-left: 0px;
        font-size: 25px;
    }

    .brig h2 {
        font-size: 30px;
    }

    .inform {
        display: inline-block;
        text-align: left;
        position: absolute;
        top: 15px;
        right: 15px;
        margin-left: 900px;
        background: #77a6b6;
        box-shadow: 0 0 30px #fff;
        height: 275px;
    }
    .contact {
        margin-left: 300px;
    }
    .contact h3 {
        line-height: .1;
        text-align: left;
    }

    .contact p {
        line-height: .1;
        text-align: left;
    }


    .information {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
        background: #9DA3AD;
    }
.map {
    padding-top: 20px;
}

/********Contact******/
form {
    display: flex;
    flex-direction: row;
    flex: wrap;

}
form fieldset {
    margin: 10px;
}
.miss form {
    margin-left: 100px;
}

/********RECEPTION******/
    
.recTop {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


}