/********This is the header******/
.head {
    display: flex;
    justify-content: left;
    align-items: center;
}

header img,
.headings {
    display: block;
    margin: 10px;
}

.headings {
    margin-left: 45px;
}

header img {
    margin-left: 20px;
    width: 30px;
    height: 60px;
}

header {
    background: #592E43;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 0px;

}

h1 {
    font-family: Impact, fantasy;
    font-size: 4vw;
    color: #9DA3AD;
    margin-bottom: 0px;
    padding-top: 0px;

}

.motto {
    margin: 0px;
    padding-bottom: 10px;
    font-size: 2vw;
    color: #9DA3AD;
    font-family: Impact, fantasy;
}

main h2 {
    text-align: left;
    margin: 30px;
}

/********NAVIGATION******/
nav {
    font-family: 'Amaranth', 'Palatino', 'URW Palladio L', serif;
    font-size: 25px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #9DA3AD;
}

nav ul {
    margin-top: 0px;

}

.navigation {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #0c0c0c;
    padding: .75rem;
    text-align: left;
    text-decoration: none;
}

.navigation a:hover {
    color: #0c0c0c;
    background-color: #B5CA8D;
    font-weight: 700;
}

.active,
.btn:hover {
    background-color: #B5CA8D;
    color: #0c0c0c;
}

.responsive li {
    display: block;
}

/********Call to action******/
h2 {
    font-family: Impact, fantasy;
    font-size: 3vw;
    color: #592E43;
    text-align: left;
    margin-top: 10px;
    background-color: #B5CA8D;
    max-width: 680px;
    padding: 10px;
}

/********Gallery******/
.gallery,
.recTop {
    display: none;
}

.brig {
    position: relative;
    justify-content: center;
}

.brig {
    position: relative;
    justify-content: center;
}

.brig img {

    border: 1px solid #592E43;

}

.brig h3 {
    text-align: left;
    font-size: 2.5vw;
    color: #592E43;
}

.brig h4 {
    line-height: .02;
    margin-bottom: 0px;
}

.brig p {
    text-align: left;
    color: #0c0c0c;
    line-height: 1;

}

.inform {
    position: absolute;
    top: -15px;
    right: 5px;
    background: #9DA3AD;
    border: 1px solid #592E43;
    padding: 1rem;
    box-shadow: 0 0 30px #fff;
}

/********INFORMATION*****/
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #9DA3AD;
    padding-bottom: 10px;
}

.contact h3 {
    line-height: .1;
    text-align: center;
}

.contact p {
    line-height: .1;
    text-align: center;
}


.map {
    width: 60%;
}

iframe {
    width: 400px;
    height: 300px;            
}

/********Contact******/
.miss form {
    display: block;
    margin: 2rem 0;
    border: 2px solid #592E43;
    background-color: #B5CA8D;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 80%;
    margin-left: 100px;
}

.miss textarea {
    width: 100%;
    height: 150px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.ques {
    color: #592E43;
}

.miss form input.btn {
    border: none;
    background-color: #592E43;
    color: white;
    border-radius: 1rem;
    padding: 16px 8px;
    margin: 2rem 0 2rem 1%;
    width: 20%;
    max-width: 10rem;
}

/********Reservation******/

.reserve {
    margin: 30px;
    width: 90%;
}

form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;
    border: 2px solid #592E43;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 80%;
    background-color: #9DA3AD;

}

form legend {
    color: #0c0c0c;
    font-weight: bold;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top,
form div {
    display: block;
    padding-top: 1.2rem;
    color: #0c0c0c;
    font-size: .8rem;
}

form lable.top input,
form lable.top select {

    display: block;
    font-size: 1rem;
    border: solid 1px #592E43;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: #0c0c0c;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #0c0c0c;
}

form input.submitBtn {
    border: none;
    background-color: #592E43;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 30%;
    max-width: 20rem;
}

textarea {
    width: 95%;
    height: 100px;
    margin-bottom: 10px;
}

form label.top input:required {
    border-left: #592E43 solid 6px;
}

form labe.top input:required:valid {
    border-left: #592E43 solid 6px;
}

.h3info {
    margin-bottom: 0px;
}

/********SERVICES******/

.service h3 {
    margin-left: 30px;
}

.special,
.free {
    margin-left: 60px;
    line-height: 2;
}

/********RECEPTION*****/

.reception,
.suite {
    margin-left: 60px;
}

dt {
    line-height: 2;
}

dd {
    margin-bottom: 13px;
}

dd a:link,
dt a:link {
    background-color: #B5CA8D;
    padding: 2px;
    text-decoration: none;
    color: #0c0c0c;

}

dd a:hover,
dt a:hover {
    color: #592E43;
}

/********Missionary******/
.missionGal {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/********TEMPLE******/
aside article {
    width: 100%;
    text-align: left;
    border: solid 1px #592E43;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

article img {
    width: 100%;
}

.orange {
    color: #592E43;
}

.now {
    background-color: #9DA3AD;
    width: 100%;
    padding: 10px;
}

.current {
    margin-left: 50px;
}

/********FOOTER******/
footer {
    background-color: #592E43;
    padding-bottom: 5px;
    padding-top: 10px;
}

footer p {
    line-height: .5;
    text-align: center;
    color: #f2f2f2;
}

footer a:link {
    text-decoration: none;
    color: #9DA3AD;
}